<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
   data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
   data-sly-call="${clientlib.all @ categories='apps.ewcmams.components.searchjk'}" />


   <!-- <div class="activity-container" id="activityContainer">
      <button id="activityButton" class="activity-button" onclick="toggleDropdown()">${properties.activityTitle @context='html'}</button>
      <div id="activityDropdown" class="activity-dropdown">
         <ul>
            <li><a class="dropdown-list" href="/content/brightspeed/us/en/life-insurance-claim-form.html">Life Insurence Claim Form</a></li>
            <li><a class="dropdown-list" href="/content/brightspeed/us/en/accelerated-benefit-claim-alaska-arizona.html">Accelerated Benefit Claim</a></li>
            <li><a class="dropdown-list" href="/content/brightspeed/us/en/annuity-direct-deposit-request-new-jersey.html">Annuity Direct Deposit Request</a></li>
         </ul>
      </div>
   </div> -->

    <!-- Login Popup -->
    <div class="activity-container" id="activityContainer">
      <button id="activityButton" class="activity-button" onclick="toggleDropdown()">${properties.activityTitle @context='html'}</button>
     </div>
     
     
      <div id="popupContainer" class="popup-container">
       <span class="close-content" onclick="closeContent()">&times;</span>
     
              <div class="tabs">   
              	<div class="tab">
      			  <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                  <label for="tab-1" class="tab-label" onclick="recent()"><p>Recent</p></label>
                      <div id="recentTab" class="tab-content">
                        <ul>
                          <li class="popup-list-item"><a href="/content/brightspeed/us/en/annuity-direct-deposit-request.html" class="list-link">Annuity Direct Deposit</a></li>
                          <li class="popup-list-item"><a href="/content/brightspeed/us/en/accelerated-benefit-claim-alaska-arizona.html" class="list-link">Accelerated Benefit Claim For Arizona</a></li>
                        </ul>
                      </div>
                 </div>
                 <div class="tab">
                 	<input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                    <label for="tab-2" onclick="pending()" class="tab-label"><p>Pending</p></label>
                    <div id="pendingTab" class="tab-content">
                      <ul>
                        <li class="popup-list-item"><a href="/content/brightspeed/us/en/life-insurance-claim-form.html" class="list-link">Life Insurance Claim Policy</a></li>
                        <li class="popup-list-item"><a href="/content/brightspeed/us/en/accelerated-benefit-claim-new-york.html" class="list-link">Accelerated Benefit Claim For New York</a></li>
                      </ul>
                    </div>
                 </div>
                  <div class="tab">
      				<input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                    <label for="tab-3" onclick="submitted()" class="tab-label"><p>Submitted</p></label>
                    <div id="submittedTab" class="tab-content">
                     <ul>
                       <li class="popup-list-item"><a href="/content/brightspeed/us/en/add-on-benefit-election-termination-guaranteed-minimum-withdraw-.html" class="list-link">Add-on Benefit Election/Termination for Arizona</a></li>
                       <li class="popup-list-item"><a href="/content/brightspeed/us/en/activation-of-lifetime-income-benefit-request.html" class="list-link">Activation of Lifetime Income Benefit Request</a></li>
                     </ul>
                    </div>
                  </div>
                  
            </div>
            
            
            
      </div>